body{
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    background-color: #0f172a;
    color: #e5e7eb;
    line-height: 1.6;
}

header{
    padding: 30px 0;
    border-bottom: 1px solid #333;
}

header h1{
    margin: 0;
}

nav{
    margin-top: 10px;
}

nav a{
    margin-right: 20px;
    color: #f5f5f5;
    text-decoration: none;
}

nav a:hover{
    text-decoration: underline;
}

main{
    padding: 20px;
    line-height:1.6;
}

footer{
    padding: 20px;
    border-top: 1px solid #333;
    color: #aaa;
}

article{
    max-width: 700px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}

article h2{
    margin-bottom: 5px;
    font-size: 1.6em;
}

article time{
    font-size: 0.9em;
    color: #aaa;
}

article p{
    margin-top: 15px;
    font-size: 1.05em;
}

article h2 a{
    color: #f5f5f5;
    text-decoration: none;
}

article h2 a:hover{
    text-decoration: underline;
}

.container{
    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px;
}

.category{
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 0.8em;
    text-transform: uppercase;
    letter-spacing: 1px;
}

article.gaming .category{
    color: #4fc3f7;
}

article.manga .category{
    color: #f48fb1;
}